body{
    margin: 0;
}



.logo{
    display: flex;
    color: white;
    align-items: center;
}

.logo img{
    height: 40px;
    margin-left: 0;
    margin-right: 20px;
    align-items: center;
    display: flex;

}
#main1{
    margin-top: 0;
    height: 160vh;
     background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, rgb(30, 18, 32) 100%), url(Imagenes/pibecelu.jpg);
     background-repeat: no-repeat ;
     background-size: cover;
     background-attachment: fixed;
     background-position: center;   
     position: relative;
     z-index: 1;
  top: -260px;
     
 }

header{
    margin: 0;
    display: flex;
    height: 40px;
    background-color: rgb(15, 15, 15);
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}
h1{
    position: relative;
    z-index: 2; 
}

nav a {
    color: white;
justify-content: space-around;
text-decoration: none;
padding-left: 130px;
padding-right: 100px;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.titlesmain{
    color: white;
    justify-content: center;
    justify-items: center;
    font-size: 30px;
    margin-top: 150px;
}

.principal{

    color: beige;
    justify-content: center 0;
    position: relative;
    z-index: 2
    ;
}


.listado{
    font-size: 120%;
    font-weight: bold;
    
}


.blocks {
    border: 15px; 
    background:rgba(122, 3, 122, 0.1); 
  box-shadow: 5px 5px;
  margin: 15px;

  
}


:root{
    scroll-behavior: smooth;
    }
    
.imgs{
    width: 400px;
    height: 300px;
    margin: 15px;
}

#contact{
    background-color: rgba(66, 7, 78, 0.4);
    text-align: center;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 200%;
}

.rs{
 width: 30px;
 height: 30px;
}
.content{
    font-family: sans-serif;
    line-height: 1.6;
}